body {
    background:#401;
   }
.App {
  text-align: center;
}
a, button, select, input{
    text-decoration: none;
    filter:saturate(.7) brightness(.85);
    transition: all .25s ease-out;
    cursor: pointer;
}
input{
    cursor: text;
}
a:hover, button:hover, select:hover, input:hover{
    filter:saturate(1.05) brightness(1.05);
}
.row{
    display: flex;
}
.box {
    padding:24px 36px;
    border:10px solid #802!important;
    z-index:1; 
    position:relative;
    margin: 24px;
    background:#fff;
    width: 80%;
    margin-bottom:40px;
    color:black;
    box-shadow:0 0 20px #ddda;
    border-radius: 25px;
    overflow: hidden;
}

.box:before {
    position:absolute;
    top:0px; 
    left:35%;
    content:"";
    display:block;
    height:10px;
    width:30%;
    background:#fff;
}

.box:after {
    position:absolute;
    bottom:0px; 
    left:35%;
    content:"";
    display:block;
    height:10px;
    width:30%;
    background:#fff;
}

.box-background{
    user-select: none;
    position:absolute;
    z-index: -1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:flex;
    flex-direction: column;
}
.box-header{
    flex: 0 1 auto;
    height:100px;
    background-image:url('./img/looseleaf-header.png');
    background-size: 100% auto;
}
.box-body{
    flex: 1 1 auto;
    background-image:url('./img/looseleaf-body.png');
    background-size: 100% auto;
    background-repeat: repeat-y;
}

.modal{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    background-color: rgb(162, 114, 126);
    color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px 50px;
    box-shadow: 4px 4px 4px black;
    text-shadow: 1px 1px black;
    overflow: auto;
}
.modal::-webkit-scrollbar {
    display: none;
}

.modal button{
    cursor: pointer;
    background: white;
    border: 1.5px solid #504;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    transition: .3s all;
}

.modal button:hover{
    background-color: #802;
    border-radius: 5px;
    color: white
}

.createRaffleModal{
    width: 400px;
    height: 500px;
}

.updateRaffleModal{
    width: 400px;
    height: 500px;
}

.modal div{
    background: none !important;
}

.closeButton{
    margin-left: 100px;
}