body {
    background:#802;
   }

.App {
  text-align: center;
}

.box {
    height:100px;
    width:200px;
    border:5px solid #fff;
    z-index:1; 
    position:relative;
}

.box:before {
    position:absolute;
    top:-5px; 
    left:35%;
    content:"";
    display:block;
    height:5px;
    width:30%;
    background:#802;
}

.box:after {
    position:absolute;
    bottom:-5px; 
    left:35%;
    content:"";
    display:block;
    height:5px;
    width:30%;
    background:#802;
}

.modal{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    background-color: #401;
    color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px 50px;
    box-shadow: 4px 4px 4px black;
    text-shadow: 1px 1px black;
}

.modal button{
    cursor: pointer;
    background: white;
    border: 1.5px solid #504;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    transition: .3s all;
}

.modal button:hover{
    background-color: #802;
    border-radius: 5px;
    color: white
}

.createRaffleModal{
    width: 400px;
    height: 500px;
}

.updateRaffleModal{
    width: 400px;
    height: 500px;
}

.modal div{
    background: none !important;
}

.closeButton{
    margin-left: 100px;
}