
#main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:aliceblue;
   ;
}

.thanks {
    margin-bottom: 50px;
}

/* .box
{
    border:5px solid #fff;
    z-index:1; 
    position:relative;
    margin-right: -20px;
    margin-left: -75px
} */
.account-verification .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.square-payment-wrapper{
    flex-basis:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box input{
    padding:16px;
    border: none;
    margin: 5px;
    background: white;
    border-radius:5px;
    outline:none!important;
    font-family: 'Helvetica Neue san-serif';
    line-height: 24px;
}
#card-div{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#name-div{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.card{
    margin-bottom: 6px;
}