
#main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:aliceblue;
   ;
}

.thanks {
    margin-bottom: 50px;
}

.box
{
    height:250px;
    width:200px;
    border:5px solid #fff;
    z-index:1; 
    position:relative;
    margin-right: -20px;
    margin-left: -75px
}
#card-div{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#name-div{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.card{
    margin-bottom: 6px;
}