
#main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:aliceblue;
}

#card-div{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#name-div{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.card{
    margin-bottom: 6px;
}