.detailed-view-wrap {
    /* display: flex;
    justify-content: center; */
    border: 3px solid #802;
    background-color: #802;
}

.detailed-view-item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 7px;
    font-size: 175%;
    text-shadow: 0 0 20px grey;
    letter-spacing: 2px;    
}

.itemTitle::after,.itemTitle::before {
    content:'*';
    margin:0 15px;
}

.raffleItem {
    width: 400px;
    height: 250px;
    border: 5px solid #404040;
    margin: 20px;
}

.itemInfo {
    border: 3px solid black;
    background-color: white;
    width: 400px;
    /* height: 150px; */
    text-align: center;
    /* overflow: scroll; */
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.ticketCounter {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 500px;
    height: 80px;
    background-color: green;
    text-align: center;
    justify-content: center;
}

.purchaseButton {
    display: flex;
    align-items: end;
    justify-content: end;
    max-width: 80px;
    background-color: white;
    color: #802;
    cursor: pointer;
    box-sizing: border-box;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: #802;
    border-bottom-color: #802;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.5s;
}

.purchaseButton:hover {
    color: white;
    background-color: #802;
    transform: scale(1.05)
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 100px;
}