#grid{
    display: grid;
    justify-content: space-evenly;
    grid-row-gap: 100px;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fill, 350px);
}

.itemContainer{
    color: aliceblue;
    background-color: #802;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 100%;
}

.ItemImg{
    width: 87%;
}
.itemContainer a{
    display:flex;
    justify-content: center;
}

.TicketHolder{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.Tickets{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    background-color: gray;
    padding: 10px;
    margin: 50px;
}

.GoTo{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
}

.createRaffle{
    position: absolute;
    right: 5px;
    margin-top: 5px;
}