/* body {
    background:#802;
} */
#main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

#main-container .row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;   
}
.column-box{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    /* padding:30px; */
    border:1px  aliceblue;
    justify-content:space-around;
    /* height:150px; */
    
}
#register{
    margin:20px;
    color:grey;
}


#main-container h1{
    font-family: 'Indie Flower', cursive;
    font-size:32pt;
    text-align:center;
    vertical-align:middle;
    position:relative;
    display:inline;
    margin-bottom:35px;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
}
#main-container h1:after{
    position: absolute;
    bottom: -5px;
    content:' ';
    height:5px;
    width:80%;
    /* left:50%; */
    background:#802;
    /* transform:translateX(-50%); */
}

.current-raffles-container, .past-winners-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:95%;
    overflow-y: auto;
    width: 100%;

}

.current-raffle-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 275px;
    padding:12px 6px;
    margin:10px 5px;
    background-color: white;
    /* text-shadow: 0 0 5px; */
    color:black;
    box-shadow:0 0 5px black;
    /* height: 100%; */
}

.current-raffle-card img {
    border: dashed 1px white;
    height: 150px;
    width: 200px;
    
}
.current-raffle-card h2, .current-raffle-card p{
    margin:5px 0;
}



.current-raffle-card button {
    background-color: transparent;
    color: white;
}
