/* body {
    background:#802;
} */
#main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:aliceblue;

}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    
}
.column-box{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    color: aliceblue;
    /* padding:30px; */
    border:1px  aliceblue;
    justify-content:space-around;
    /* height:150px; */
    
}
h4{
    margin:0;
    text-align:center;

}
#register{
    margin:20px;
    color:grey;
}


h1
{
    text-align:center;
    vertical-align:middle;
    position:relative;
    
}

img {
    height: 200px;
    width: 325px;
}

.current-raffles-container, .past-winners-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
    width: 100%;
}

.current-raffle-card {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 95%;
}

.current-raffle-card img {
    max-width: 95%;
    height: auto;
    border: dashed 1px white;
}

.current-raffle-card button {
    background-color: transparent;
    color: white;
}
