.inputs{
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.inputColumn{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.closeButton{
    width: 40px;
    margin-left: auto;
}

.submitButton{
    width: 80px;
    margin: auto;
}